@import url(//db.onlinewebfonts.com/c/453c30f61f42e715218a487d5978f27f?family=ToyotaType-Semibold);

.model-button {
  float: right;
  margin-top: -70px;
  border-radius: 40px;
  background-color: #191919;
  padding: 6px 17px;
  color: white;
  font-family: ToyotaType;
}